<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aroul Da Vinci | Official Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://kit.fontawesome.com/930ca7e2ff.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="header">
        <div class="container">
            <nav>
                <ul id="sidemenu">
                    <img src="bw.png" alt="Black and White Image" class="nav-image">
                    <li><a href="#home">Home</a></li>
                    <li><a href="#header2">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <i class="fa-solid fa-x" onclick="closemenu()"></i>
                </ul>
                <i class="fa-solid fa-bars" onclick="openmenu()"></i>
            </nav>
            <h1 class="sub-title">Aroul Da Vinci</h1>
            <p>Welcome to the official website of the Multi Platinum Producer</p>
        </div>
    </div>
    <div id="frameWrapper" style="display: flex; justify-content: center; align-items: center; margin: auto 0;">
        <iframe src="https://www.beatstars.com/aroulking/tracks" width="100%" height="800" style="max-width: 1500px; border: 1px solid black;"></iframe>
    </div>
    <!------------------Services---------->
    <div id="header2">
        <div class="container">
            <h1 class="sub-title80">Let's produce a song from start to finish!</h1>
            <p>
                Our service provides comprehensive support for singers to create, write, and publish their own songs. We guide artists through the entire process, from conceptualization to release, ensuring their vision and style are fully realized. Our team collaborates closely with the artist, crafting melodies, refining lyrics, and offering professional guidance at every step. Once the song is perfected, we assist in publishing, helping singers share their music with the world. With our expertise, artists can confidently bring their musical ideas to life and reach a wider audience.            </p>
            <button class="info-button">Info and Pricing</button>
        </div>
    </div>
    
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p><strong>WHAT WE OFFER</strong></p><br>
        <dl>
            <dt><strong>Full Song Production:</strong></dt>
            <dd>Composition - Vocal arrangement - Mixing & Mastering - (Optional) Publishing</dd>
            <dd>Starting from 150$</dd>
            <dd><button class="action-button " onclick="showPopup()">Read Contract</button></dd>
            <br>
            <dt><strong>Mid Song Production:</strong></dt>
            <dd>Composition - Vocal arrangement</dd>
            <dd>Starting from 100$</dd>
            <dd><button class="action-button " onclick="showPopup2()">Read Contract</button></dd><br>
            <dt><strong>Beat Leasing:</strong></dt>
            <dd>You can Lease or Buy a Beat for Profit</dd>
            <dd>Starting from 30$, more info in the beat licensing section</dd>
            <dd><button class="action-button " onclick="showPopup3()">Read Contract</button></dd><br>
            
        </dl>
     </div>
    </div>

    <!-- Popup -->
<div id="popup" class="popup">
    <div class="popup-content">
        <span class="close-popup" onclick="closePopup()">&times;</span>
        <p>THIS LICENSE AGREEMENT is made on 7/28/24, 6:16 PM ("Effective Date") by and between Licensee (hereinafter referred to as the "Licensee") also, if applicable, professionally known as Licensee , and Preview Only ("Songwriter"). (hereinafter referred to as the "Licensor"). Licensor warrants that it controls the mechanical rights in and to the copyrighted musical work entitled Preview Track Only ("Compisition") as of and prior to the date first written above. The Composition, including the music thereof, was composed by Preview Only ("Songwriter") managed under the Licensor.

            All licenses are non-refundable and non-transferable.
            
            Master Use. The Licensor hereby grants to License a non-exclusive license (this "License) to record vocal synchronization to the Composition partly or in its entirety and substantially in its original form ("Master Recording")
            
            Mechanical Rights. The Licensor hereby grants to Licensee a non-exclusive license to use Master Recording in the reproduction, duplication, manufacture, and distribution of phonograph records, cassette tapes, compact disk, digital downloads, other miscellaneous audio and digital recordings, and any lifts and versions thereof (collectively, the "Recordings", and individually, a "Recordings") worldwide for up to the pressing or selling a total of * ( ) copies of such Recordings or any combination of such Recordings, condition upon the payment to the Licensor a sum of * dollars ($40.00** ), receipt of which is confirmed. Additionally licensor shall be permitted to distribute Unlimited free internet downloads or streams for non-profit and non-commercial use. This license allows up to One Hundred Thousand (100000) monetized audio streams to sites like (Spotify, RDIO, Rhapsody) but not eligible for monetization on YouTube.
            
            Performance Rights. The Licensor here by grants to Licensee a non-exclusive license to use the Master Recording in Unlimited non-profit performances, shows, or concerts. Licensee false receive compensation from performances with this license.
            
            Synchronization Rights. The Licensor hereby grants limited synchronization rights for Zero (0 ) music video streamed online (Youtube, Vimeo, etc..) for up to * non-monetized* video streams on all total sites. A separate synchronization license will need to be purchased for distribution of video to Television, Film or Video game. {IF broadcast_rights = 'No'}
            
            Broadcast Rights. The Licensor hereby grants to Licensee no broadcasting rights. {IF broadcast_rights = 'Yes'}
            
            Broadcast Rights. The Licensor hereby grants to Licensee broadcasting rights up to 0 Radio Stations.
            
            Credit. Licensee shall acknowledge the original authorship of the Composition appropriately and reasonably in all media and performance formats under the name "Preview Only" in writing where possible and vocally otherwise.
            
            Consideration. In consideration for the rights granted under this agreement, Licensee shall pay to licensor the sum of $40.00 US dollars and other good and valuable consideration, payable to "Preview Only", receipt of which is hereby acknowledged. If the Licensee fails to account to the Licensor, timely complete the payments provided for hereunder, or perform its other obligations hereunder, including having insufficient bank balance, the licensor shall have the right to terminate License upon written notice to the Licensee. Such termination shall render the recording, manufacture and/or distribution of Recordings for which monies have not been paid subject to and actionable infringements under applicable law, including, without limitation, the United States Copyright Act, as amended.
            
            Indemnification. Accordingly, Licensee agrees to indemnify and hold Licensor harmless from and against any and all claims, losses, damages, costs, expenses, including, without limitation, reasonable attorney's fees, arising of or resulting from a claimed breach of any of Licensee's representations, warranties or agreements hereunder.
            
            Audio Samples. 3rd party sample clearance is the responsibility of the licensee.
            
            Miscellaneous. This license is non-transferable and is limited to the Composition specified above, does not convey or grant any right of public performance for profit, constitutes the entire agreement between the Licensor and the Licensee relating to the Composition, and shall be binding upon both the Licensor and the Licensee and their respective successors, assigns, and legal representatives.
            
            Governing Law. This License is governed by and shall be construed under the law of the Arizona,United States, without regard to the conflicts of laws principles thereof.
            
            Term. Executed by the Licensor and the Licensee, to be effective as for all purposes as of the Effective Date first mentioned above and shall terminate exactly Two (2) years from this date.
            
             Writer	 Share
             Licensor Name	 50%
             Licensee Name	 50%
            </p>
    </div>
</div>
<div id="popup2" class="popup">
    <div class="popup-content">
        <span class="close-popup" onclick="closePopup2()">&times;</span>
        <p>cane
            </p>
    </div>
</div><div id="popup3" class="popup">
    <div class="popup-content">
        <span class="close-popup" onclick="closePopup3()">&times;</span>
        <p>THIS LICENSE AGREEMENT is made on 7/28/24, 6:16 PM ("Effective Date") by and between Licensee (hereinafter referred to as the "Licensee") also, if applicable, professionally known as Licensee , and Preview Only ("Songwriter"). (hereinafter referred to as the "Licensor"). Licensor warrants that it controls the mechanical rights in and to the copyrighted musical work entitled Preview Track Only ("Compisition") as of and prior to the date first written above. The Composition, including the music thereof, was composed by Preview Only ("Songwriter") managed under the Licensor.

            All licenses are non-refundable and non-transferable.
            
            Master Use. The Licensor hereby grants to License a non-exclusive license (this "License) to record vocal synchronization to the Composition partly or in its entirety and substantially in its original form ("Master Recording")
            
            Mechanical Rights. The Licensor hereby grants to Licensee a non-exclusive license to use Master Recording in the reproduction, duplication, manufacture, and distribution of phonograph records, cassette tapes, compact disk, digital downloads, other miscellaneous audio and digital recordings, and any lifts and versions thereof (collectively, the "Recordings", and individually, a "Recordings") worldwide for up to the pressing or selling a total of * ( ) copies of such Recordings or any combination of such Recordings, condition upon the payment to the Licensor a sum of * dollars ($40.00** ), receipt of which is confirmed. Additionally licensor shall be permitted to distribute Unlimited free internet downloads or streams for non-profit and non-commercial use. This license allows up to One Hundred Thousand (100000) monetized audio streams to sites like (Spotify, RDIO, Rhapsody) but not eligible for monetization on YouTube.
            
            Performance Rights. The Licensor here by grants to Licensee a non-exclusive license to use the Master Recording in Unlimited non-profit performances, shows, or concerts. Licensee false receive compensation from performances with this license.
            
            Synchronization Rights. The Licensor hereby grants limited synchronization rights for Zero (0 ) music video streamed online (Youtube, Vimeo, etc..) for up to * non-monetized* video streams on all total sites. A separate synchronization license will need to be purchased for distribution of video to Television, Film or Video game. {IF broadcast_rights = 'No'}
            
            Broadcast Rights. The Licensor hereby grants to Licensee no broadcasting rights. {IF broadcast_rights = 'Yes'}
            
            Broadcast Rights. The Licensor hereby grants to Licensee broadcasting rights up to 0 Radio Stations.
            
            Credit. Licensee shall acknowledge the original authorship of the Composition appropriately and reasonably in all media and performance formats under the name "Preview Only" in writing where possible and vocally otherwise.
            
            Consideration. In consideration for the rights granted under this agreement, Licensee shall pay to licensor the sum of $40.00 US dollars and other good and valuable consideration, payable to "Preview Only", receipt of which is hereby acknowledged. If the Licensee fails to account to the Licensor, timely complete the payments provided for hereunder, or perform its other obligations hereunder, including having insufficient bank balance, the licensor shall have the right to terminate License upon written notice to the Licensee. Such termination shall render the recording, manufacture and/or distribution of Recordings for which monies have not been paid subject to and actionable infringements under applicable law, including, without limitation, the United States Copyright Act, as amended.
            
            Indemnification. Accordingly, Licensee agrees to indemnify and hold Licensor harmless from and against any and all claims, losses, damages, costs, expenses, including, without limitation, reasonable attorney's fees, arising of or resulting from a claimed breach of any of Licensee's representations, warranties or agreements hereunder.
            
            Audio Samples. 3rd party sample clearance is the responsibility of the licensee.
            
            Miscellaneous. This license is non-transferable and is limited to the Composition specified above, does not convey or grant any right of public performance for profit, constitutes the entire agreement between the Licensor and the Licensee relating to the Composition, and shall be binding upon both the Licensor and the Licensee and their respective successors, assigns, and legal representatives.
            
            Governing Law. This License is governed by and shall be construed under the law of the Arizona,United States, without regard to the conflicts of laws principles thereof.
            
            Term. Executed by the Licensor and the Licensee, to be effective as for all purposes as of the Effective Date first mentioned above and shall terminate exactly Two (2) years from this date.
            
             Writer	 Share
             Licensor Name	 50%
             Licensee Name	 50%
            </p>
    </div>
</div>
    
   
    <!-- The Modal -->
    <div id="myModal2" class="modal2">
        <div class="modal-content2">
            <span class="close2">&times;</span>
            <p><strong>WHAT WE OFFER</strong></p><br>
            <dl>
                    <dt><strong>MP3 Standard License: 30$</strong></dt>
                    <dd>
                        • All Streaming Platforms
                        • Up to 100,000 streams
                        • 1 Year Term Durations
                        • MP3 file
                        • No tags</dd>
                        <dd><button class="action-button " onclick="showPopup4()">Read Contract</button></dd><br>
                        
                    <dt><strong>WAV Premium License: 50$</strong></dt>
                    <dd>
                        • All Streaming Platforms
                        • Up to 500,000 streams
                        • 3 Year Term Duration
                        • MP3 + WAV file
                        • No tags</dd>
                        <dd><button class="action-button " onclick="showPopup5()">Read Contract</button></dd><br>
                    <dt><strong>WAV Stems Premium License: 75$</strong></dt>
                    <dd>
                        • Tracked out files - ideal for mixing and rearranging
                        • All Streaming Platforms
                        • Up to 1 Million streams
                        • 3 Year Term Durations
                        • MP3 + WAV file + Stems
                        • No tags</dd>
                        <dd><button class="action-button " onclick="showPopup6()">Read Contract</button></dd><br>   
                        <dt><strong>Exclusive License: Make an Offer (starting From 300$)</strong></dt>
                    <dd>
                        • Tracked out files - ideal for mixing and rearranging
                        • All Streaming Platforms
                        • Unlimited streams
                        • Unlimited Year Term Durations
                        • MP3 + WAV file + Stems
                        • No tags</dd>
                        <dd><button class="action-button " onclick="showPopup7()">Read Contract</button></dd><br>             
       </div>
    </div>
    <div id="popup4" class="popup">
        <div class="popup-content">
            <span class="close-popup" onclick="closePopup4()">&times;</span>
            <p>canematto
                </p>
        </div>
    </div>
    <div id="popup5" class="popup">
        <div class="popup-content">
            <span class="close-popup" onclick="closePopup5()">&times;</span>
            <p>canematto5
                </p>
        </div>
    </div>  <div id="popup6" class="popup">
        <div class="popup-content">
            <span class="close-popup" onclick="closePopup6()">&times;</span>
            <p>canematto6
                </p>
        </div>
    </div>  <div id="popup7" class="popup">
        <div class="popup-content">
            <span class="close-popup" onclick="closePopup7()">&times;</span>
            <p>canematto7
                </p>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal3" class="modal3">
        <div class="modal-content3">
            <span class="close3">&times;</span>
            <p>bbbbbbbbbbbbbbbbbbbbb<br>bvuqeobvqeouvbqeuovbqvbuqbevueoqbvuqoebvuoqebvuoqbvoueqbvuoeqbvuoevbuoeb</p>
        </div>
    </div>
 <!------------------WOULD BE COOL TO SHOW THE INFO IN A POPUP---------->
 <div id="header6">
    <div class="container">
        <h1 class="sub-title90">Beat Leasing
        </h1>
        <p>
            
Explore our diverse range of purchasing and leasing options.  </p>
<button class="info-button">Info and Pricing</button>
        </div>
    </div>

        <div id="header7">
            <div class="container">
                <h1 class="sub-title70">Producer Services: Empowering Your Music Production
                </h1>
                
                <p>
                    
                    Are you a producer struggling with melodies or drum patterns? Let our experience guide you. </p>
                    <button class="info-button">More Info</button>
            </div>
                </div>    
   <!------------------contact---------->
    <div id="contact">
        <div class="container">
            <div class="row">
                <div class="contact-left">
                <h1 class= "sub-title">Contact Me</h1>
                <p>e-mail: aroulkingproduction@gmail.com</p>
                <p>phone: +393460853467</p>
                <div class="social-icons">
                    <a href="https://www.instagram.com/aroulbidda_music/"><i class="fa-brands fa-instagram"></i></a>
                    
            </div>
            
            <div class="container">
                <div class="row">
                    <div class="contact-left">
                        <h1 class="sub-title">Contact Me</h1>
                        <p>e-mail: aroulkingproduction@gmail.com</p>
                        <p>phone: +393460853467</p>
                        <div class="social-icons">
                            <a href="https://www.instagram.com/aroulbidda_music/"><i class="fa-brands fa-instagram"></i></a>
                        </div>
                    </div>
                    
                    <div class="contact-form-container">
                        <form action="/submit_form" method="post" class="contact-form">
                            <label for="name">Name:</label>
                            <input type="text" id="name" name="name" required>
            
                            <label for="email">Email:</label>
                            <input type="email" id="email" name="email" required>
            
                            <label for="subject">Subject:</label>
                            <input type="text" id="subject" name="subject" required>
            
                            <label for="message">Message:</label>
                            <textarea id="message" name="message" rows="4" required></textarea>
            
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            
    
        
            <div class="copyright">
                <p>© 2024 Pradeep Aroulmoji All Rights Reserved</p>
            </div>
            </div>  
        </div>











        <!------------------SCRIPTS---------->








    <script>
        var tablinks = document.getElementsByClassName("tab-links");
        var tabcontents = document.getElementsByClassName("tab-contents");
        function opentab(tabname) {
            for (tablink of tablinks) {
                tablink.classList.remove("active-link");
            }
            for (tabcontent of tabcontents) {
                tabcontent.classList.remove("active-tab");
            }
            event.currentTarget.classList.add("active-link");
            document.getElementById(tabname).classList.add("active-tab");
        }

    </script>

    <script>
        var sidemeu = document.getElementById("sidemenu");
        function openmenu() {
            sidemeu.style.right = "0";
        }
        function closemenu() {
            sidemeu.style.right = "-200px";
        }

    </script>
    <script> src ="https://smtpjs.com/v3/smtp.js"</script>
    <script src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>
<script>
    (function(){
        emailjs.init("YOUR_USER_ID"); // Replace with your EmailJS user ID
    })();
</script>
<script>
    var modal = document.getElementById("myModal");
    
    var btn = document.getElementsByClassName("info-button")[0];
   
    
    var span = document.getElementsByClassName("close")[0];
    
    btn.onclick = function() {
        modal.style.display = "block";
        setTimeout(function() {
            modal.style.visibility = "visible";
            modal.style.opacity = "1";
        }, 1);
    }
    
    span.onclick = function() {
        modal.style.visibility = "hidden";
        modal.style.opacity = "0";
        setTimeout(function() {
            modal.style.display = "none";
        }, 300);
    }
    
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.visibility = "hidden";
            modal.style.opacity = "0";
            setTimeout(function() {
                modal.style.display = "none";
            }, 300);
        }
    }
    </script>
    <script>
        var modal2 = document.getElementById("myModal2");
        
        var btn2= document.getElementsByClassName("info-button")[1];
       
        
        var span2 = document.getElementsByClassName("close2")[0];
        
        btn2.onclick = function() {
            modal2.style.display = "block";
            setTimeout(function() {
                modal2.style.visibility = "visible";
                modal2.style.opacity = "1";
            }, 1);
        }
        
        span2.onclick = function() {
            modal2.style.visibility = "hidden";
            modal2.style.opacity = "0";
            setTimeout(function() {
                modal2.style.display = "none";
            }, 300);
        }
        
        window2.onclick = function(event) {
            if (event.target == modal) {
                modal2.style.visibility = "hidden";
                modal2.style.opacity = "0";
                setTimeout(function() {
                    modal2.style.display = "none";
                }, 300);
            }
        }
        </script>
        <script>
            var modal3 = document.getElementById("myModal3");
            
            var btn3= document.getElementsByClassName("info-button")[2];
           
            
            var span3 = document.getElementsByClassName("close3")[0];
            
            btn3.onclick = function() {
                modal3.style.display = "block";
                setTimeout(function() {
                    modal3.style.visibility = "visible";
                    modal3.style.opacity = "1";
                }, 1);
            }
            
            span3.onclick = function() {
                modal3.style.visibility = "hidden";
                modal3.style.opacity = "0";
                setTimeout(function() {
                    modal3.style.display = "none";
                }, 300);
            }
            
            window3.onclick = function(event) {
                if (event.target == modal) {
                    modal3.style.visibility = "hidden";
                    modal3.style.opacity = "0";
                    setTimeout(function() {
                        modal3.style.display = "none";
                    }, 300);
                }
            }
            </script>
            <script>
            function showPopup() {
                document.getElementById('popup').style.display = 'block';
            }
            
            function closePopup() {
                document.getElementById('popup').style.display = 'none';
            }
            
            // Close the modal when the user clicks anywhere outside of it
            window.onclick = function(event) {
                var modal = document.getElementById('myModal');
                var popup = document.getElementById('popup');
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
                if (event.target == popup) {
                    popup.style.display = 'none';
                }
            }            
        </script>
        <script>
            function showPopup2() {
                document.getElementById('popup2').style.display = 'block';
            }
            
            function closePopup2() {
                document.getElementById('popup2').style.display = 'none';
            }
            
            // Close the modal when the user clicks anywhere outside of it
            window.onclick = function(event) {
                var modal = document.getElementById('myModal');
                var popup = document.getElementById('popup2');
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
                if (event.target == popup) {
                    popup.style.display = 'none';
                }
            }            
        </script>
        <script>
            function showPopup3() {
                document.getElementById('popup3').style.display = 'block';
            }
            
            function closePopup3() {
                document.getElementById('popup3').style.display = 'none';
            }
            
            // Close the modal when the user clicks anywhere outside of it
            window.onclick = function(event) {
                var modal = document.getElementById('myModal');
                var popup = document.getElementById('popup3');
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
                if (event.target == popup) {
                    popup.style.display = 'none';
                }
            }            
        </script>
        <script>
            function showPopup4() {
                document.getElementById('popup4').style.display = 'block';
            }
            
            function closePopup4() {
                document.getElementById('popup4').style.display = 'none';
            }
            
            // Close the modal when the user clicks anywhere outside of it
            window.onclick = function(event) {
                var modal = document.getElementById('myModal');
                var popup = document.getElementById('popup4');
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
                if (event.target == popup) {
                    popup.style.display = 'none';
                }
            }            
        </script>
        <script>
            function showPopup5() {
                document.getElementById('popup5').style.display = 'block';
            }
            
            function closePopup5() {
                document.getElementById('popup5').style.display = 'none';
            }
            
            // Close the modal when the user clicks anywhere outside of it
            window.onclick = function(event) {
                var modal = document.getElementById('myModal');
                var popup = document.getElementById('popup5');
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
                if (event.target == popup) {
                    popup.style.display = 'none';
                }
            }            
        </script><script>
            function showPopup6() {
                document.getElementById('popup6').style.display = 'block';
            }
            
            function closePopup6() {
                document.getElementById('popup6').style.display = 'none';
            }
            
            // Close the modal when the user clicks anywhere outside of it
            window.onclick = function(event) {
                var modal = document.getElementById('myModal');
                var popup = document.getElementById('popup6');
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
                if (event.target == popup) {
                    popup.style.display = 'none';
                }
            }            
        </script><script>
            function showPopup7() {
                document.getElementById('popup7').style.display = 'block';
            }
            
            function closePopup7() {
                document.getElementById('popup7').style.display = 'none';
            }
            
            // Close the modal when the user clicks anywhere outside of it
            window.onclick = function(event) {
                var modal = document.getElementById('myModal');
                var popup = document.getElementById('popup7');
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
                if (event.target == popup) {
                    popup.style.display = 'none';
                }
            }            
        </script>
        
        
        
        
</body>